
body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("../imagenes/wallpaper4.jpg");
    background-blend-mode: normal;
    background-color: cover;
    background-position: center;

}

.barra {
    color: rgb(255, 255, 255) !important;
    font-weight: 800;
    padding-top: 40px !important;
    border-bottom: 4px solid transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    font-size: 30pt !important;

}

header {
    backdrop-filter: blur(12px);

}

.barra:hover {

    color: rgb(227, 133, 255) !important;
    border-bottom: 4px solid rgb(227, 133, 255);
    border-radius: 10px;
    padding-right: 100px;
    padding-left: 100px;

}

.linea {
    width: 100%;
    margin: auto;
    background-color: rgb(240, 192, 255) !important;
    height: 2px;
}

header {
    margin: 0 !important;
    padding: 0 !important;

}

p {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;

}

.seleccion {
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 10px;
    
}

img {
    border-radius: 10px;
    border: 2px solid rgb(204, 0, 255);
}

.seleccion:hover {
    border: 2px solid rgb(209, 130, 255);
    backdrop-filter: blur(6px);
}


footer {

    color: white;
    position: absolute;
    width: 100%;
    font-weight: lighter !important;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(35, 0, 46, 0.829);

}

/*permite que se oculten las fotos*/

.galeria .galeriaFotos {
    display: none;
}


/*permite poner tamaño de fotos*/

.galeria .galeriaFotos img {
    width: 400px;
    height: 300px;
}










